// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grey-wrapper {
  background-color: lightgray;
}

.own-cont {
  background-color: white;
  padding-top: 20px;
  height: 100vh;
}

